#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.videos-container {
  display: flex;
}
.main-app {
  width: 90vw;
  min-width: 720px;
}

::placeholder {
  margin-left: 10px;
}
